{% extends 'base.html' %}
{% block content %}

<h1>Movie Reviews</h1>
<a class="btn btn-primary mx-3 px-3" href="{% url 'movie_crud:new' %}" role="button">리뷰 작성</a>
<div class="table-responsive input-group mb-3 px-3">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">리뷰 번호</th>
        <th scope="col">리뷰 제목</th>
        <th scope="col">작성 시간</th>
        <th scope="col">리뷰 수정</th>
        <th scope="col">삭제</th>
      </tr>
    </thead>
    <tbody>
      {% for re in re %}
      <tr>
        <th scope="row" class="align-items-center">{{ re.id }}</th>
        <td>
          <a href="{% url 'movie_crud:detail' re.pk %}" class="stretched-link">{{ re.title }}</a>
        </td>
        <td>{{ re.created_at }}</td>
        <td>
          <a class="btn btn-primary py-sm-1" href="{% url 'movie_crud:edit' re.pk %}" role="button">변경</a>
        </td>
        <td>
          <a class="btn btn-danger py-sm-1" href="{% url 'movie_crud:delete' re.pk %}" role="button">삭제</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}